In [1]:
#List of high schools
high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [30]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [32]:
for dictionary in high_school_types:
    print(dictionary)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [24]:
high_school_types

[{'High School': 'Griffin', 'Type': 'District'},
 {'High School': 'Figueroa', 'Type': 'District'},
 {'High School': 'Wilson', 'Type': 'Charter'},
 {'High School': 'Wright', 'Type': 'Charter'}]

In [25]:
type(high_school_types)

list

In [26]:
len(high_school_types)

4

In [27]:
high_school_types[0]

{'High School': 'Griffin', 'Type': 'District'}

In [28]:
type(high_school_types[0])

dict

In [21]:
#List of high school
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [23]:
#Add the Pandas dependency
import pandas as pd
#Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [35]:
for highschool_list in school_series:
    print(highschool_list)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [36]:
type(highschool_list)

str

In [38]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [39]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [49]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [42]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [62]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
schools_df["School Name"]= school_name
schools_df["type_of_school"] = type_of_school
# Print the DataFrame.
schools_df

   School ID            School Name type_of_school
0          0      Huang High School       District
1          1   Figueroa High School       District
2          2    Shelton High School        Charter
3          3  Hernandez High School       District
4          4    Griffin High School        Charter

In [58]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [59]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [56]:
schools_df

Empty DataFrame
Columns: []
Index: []

In [63]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [66]:
school_df = pd.DataFrame(high_schools_dict)
school_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [67]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [68]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [70]:
school_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [102]:
school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [103]:
#initialize an empty DataFrame

In [104]:
school_df = pd.Dataframe()

AttributeError: module 'pandas' has no attribute 'Dataframe'

In [101]:
school_df["school_name"] = school_name
school_df["type_of_school"] = type_of_school

NameError: name 'schooll_df' is not defined

In [98]:
school_df

,School ID,school_name,type,Huang High School,Figueroa High School,Shelton High School,Hernandez High School,Griffin High School,District,Charter,type_of_school
0,0,Huang High School,District,Huang High School,Figueroa High School,Shelton High School,Hernandez High School,Griffin High School,District,Charter,District
1,1,Figueroa High School,District,Huang High School,Figueroa High School,Shelton High School,Hernandez High School,Griffin High School,District,Charter,District
2,2,Shelton High School,Charter,Huang High School,Figueroa High School,Shelton High School,Hernandez High School,Griffin High School,District,Charter,Charter
3,3,Hernandez High School,District,Huang High School,Figueroa High School,Shelton High School,Hernandez High School,Griffin High School,District,Charter,District
4,4,Griffin High School,Charter,Huang High School,Figueroa High School,Shelton High School,Hernandez High School,Griffin High School,District,Charter,Charter